<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498735837265-3dbi56qoj1gr470bqmriv3s47jb6ataj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498735837265-3dbi56qoj1gr470bqmriv3s47jb6ataj</string>
	<key>API_KEY</key>
	<string>AIzaSyANrwhMiugFaOHkkuBrWA3EePbwOkSJEwM</string>
	<key>GCM_SENDER_ID</key>
	<string>498735837265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohab.MessagingApp</string>
	<key>PROJECT_ID</key>
	<string>messaging-app-13df8</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-app-13df8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498735837265:ios:99e2d94f7a8ba2d3458870</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-app-13df8.firebaseio.com</string>
</dict>
</plist>